footer {  
  padding: 20px;
  background-color: black;
  color: white;
}

#texto{
	 position: relative;
    left: 400px;
}

#QRNFC{
	position: absolute; 
	left: 600px;
	top: 1800px;
}

#maps{
	position: absolute; 
	left: 100px;
	top: 1380px;
}

#pagar{
	position: absolute; 
	left: 600px;
	top: 920px;
}

#vazio{
	opacity: 0;
}

#stores{
	position: absolute; 
	left: 50px;
	top: 350px;
}

#image{
	opacity: 10;
	position: absolute; 
	left: 760px;
	top: 10px;
}


#teste{
  width: 1481px;
  height: 820px;
  background-image: url(imagens/paragem.jpg);
  background-repeat: no-repeat;
}

* {
	margin: 0;
	padding: 0;
}


a {
	color: #0000ff;
	text-decoration:blink;
}

a:hover {
	text-decoration: none;
	color: #000000;
}



body {
	line-height: 1.75em;
	color: #000000;
	font-size: 11.5pt;
}

body,input {
	font-family: Calibri, Candara, Segoe;
}

br.clearfix {
	clear: both;
}

strong {
	color: #808080;
}

h1,h2,h3,h4 {
	
	text-shadow: 0 2px 0 #FFFFFF;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #001739;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

.box {
	overflow: hidden;
	margin: 0 0 1em 0;
	
	font-size: 1.25em;
	
}


#content {
	float: left;
	padding: 40px;
	width: 596px;
	background: #EAEEF2 url(imagens/img05.jpg) top left repeat-x;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	opacity: 0.7;
	
}

#footer {
	margin: 50px 0 120px 0;
	text-align: center;
	color: #626E7F;
	text-shadow: 0 1px 0 #FFFFFF;
	
}

#footer a {
	color: #626E7F;
}

#header {
	font-family:Calibri, Candara, Segoe;
	color: #FFFFFF;
	height: 50px;
	padding: 10px;
	border-radius: 10px;	
}

#logo {
    top: 57px;
	height: 140px;
	position: absolute;
	left: 40px;
	line-height: 140px;
	
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
	
}

#logo h1 {
	font-size: 2.8em;
	text-shadow: 0 2px 2px #0E3E68;
}

#menu {
	height: 62px;
	right: 40px;
	line-height: 62px;
	top: 79px;
	position: absolute;

}

#menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	font-size: 1.25em;
}

#menu ul {
	padding: 0 25px 0 25px;
	list-style: none;
}

#menu ul li {
	padding: 10px 15px 10px 15px;
	display: inline;
	text-shadow: 0 1px 1px #ffffff;
}

#menu ul li.current_page_item {
	background: #F3A515;
	border-radius: 5px;
}

#menu ul li.last {
	padding-right: 0;
}

#page {
	position: relative;
	margin: 20px 0 20px 0;
	padding: 0;
	width: 980px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	clear: both;
	padding: 25px 0 25px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #C5CDD8;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#search input.form-submit {
	background: #B87A23;
	padding: 5px;
	color: #FFFFFF;
	border: 0;
	margin-left: 1em;
}

#search input.form-text {
	padding: 10px;
	border: dotted 1px #569DBF;
}

#sidebar {
	background: #EAEEF2 url(images/img05.jpg) top left repeat-x;
	width: 196px;
	margin: 0 0 0 700px;
	padding: 40px;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	border-radius: 10px;
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
	border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
	opacity: 0.7;
	
	
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #C5CDD8;
}

#sidebar ul li.first {
	border-top: 0;
	padding-top: 0;
}

#wrapper {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 75px 0 0 0;
	width: 980px;
}
#content2 {
	float: left;
	padding: 50px;
	width: 900px;
	background: #EAEEF2 url(images/img05.jpg) top left repeat-x;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	opacity: 0.9;
	

	
}

#content3 {
	float:left;
	padding: 30px;
	width: 920px;
	background: #c0c0c0 ;
	border-radius: 10px;
	border: solid 2px #c0c0c0;
	text-shadow: 0 1px 0 #c0c0c0;
	
}

#content4 {
	float:left;
	padding: 30px;
	width: 900px;
	background: #c0c0c0 ;
	border-radius: 10px;
	border: solid 2px #c0c0c0;
	text-shadow: 0 1px 0 #c0c0c0;
	
}

#content5 {
	float:right;
	padding: 30px;
	width: 300px;
	background: #c0c0c0 ;
	border-radius: 10px;
	border: solid 2px #c0c0c0;
	text-shadow: 0 1px 0 #c0c0c0;
	
}



#contentfalse {
	float:left;
	width: 60px;
	opacity:0;
}

#content3 p li1{
	
	padding: 20px;
	
}

body.imagem {
	
	
    background-image: url("imagens\paragem.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

	
}

body.imagem2 {
	
	
    background-image: url("imagens\paragem.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

	
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}



.img-comp-container {
  position: relative;
  height: 166px; /*should be the same height as the images*/
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.img-comp-img img {
  display: block;
  vertical-align: middle;
}
.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
 
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
